.button {
   display: inline-block;
   padding: 0.8em 1.5em;
   border-radius:2em;
   font-size: small;
   box-sizing: border-box;
   text-decoration: none;
   transition: all 0.2s;
   background-color:rgb(181, 255, 162);
   box-shadow: 0 2px 2px -2px black;
   border: none;
   margin-bottom: 20px;
   outline:none;
   &:hover {
      background-color: rgb(75, 233, 136);
      cursor: pointer;
   }
}
