.button-change {
   margin-top: 1%;
}

@media (max-width: 950px) {
   .header-confirmation-message {
      width: 90%;
      margin: auto;
      padding: 0 0 1% 0;
   }
}

.button-confirm {
   margin-bottom: 2%;
   margin-right: 2%;;
}