.navbar-container {
   text-align: left;
   padding: 3%;
   width: 20%;
   height: 100%;
   // background-color: lightblue;
   .navbar {
      display: grid;
      grid-template-rows: repeat(6, auto);
      grid-gap: 15%;
      .navbar-item {
         display: grid;
         grid-template-columns: 20% 80%;
         font-size: x-large;
         text-decoration: none;
         transition: all 0.2s;
         border-radius:1em;
         &:hover {
            background-color: rgb(75, 233, 136);
            cursor: pointer;
         }
         .icon {
            width: auto;
            height: 1em;
            margin-top: 3px;
         }
      }
      .logo-container {
         text-align: center;
         .logo {
            position: relative;
            width: 30%;
            height: 100%;
         }
      }
   }
}

.navbar-container {
   .navbar {
      .navbar-item-dark {
         display: grid;
         grid-template-columns: 20% 80%;
         font-size: x-large;
         text-decoration: none;
         transition: all 0.2s;
         border-radius:1em;
         &:hover {
            background-color: rgb(104, 243, 185);
            cursor: pointer;
         }
         .icon {
            width: auto;
            height: 1em;
            margin-top: 3px;
         }
      }
   }
}

@media screen and (max-width: 930px) {
   .navbar-container {
      .navbar {
         .navbar-item {
            font-size: medium;
         }
      }
   }
   .header {
      font-size: 1.2em;
   }
}

@media screen and (max-width: 930px) {
   .navbar-container {
      .navbar {
         .navbar-item-dark {
            font-size: medium;
         }
      }
   }
   .header {
      font-size: 1.2em;
   }
}

@media screen and (max-width: 650px) {
   .navbar-container {
      .navbar {
         .navbar-item {
            font-size: small;
         }
      }
   }
   .header {
      font-size: 1em;
   }
}

@media screen and (max-width: 650px) {
   .navbar-container {
      .navbar {
         .navbar-item-dark {
            font-size: small;
         }
      }
   }
   .header {
      font-size: 1em;
   }
}

@media screen and (max-width: 547px) {
   .navbar-container {
      .navbar {
         .navbar-item {
            display: inline;
            .icon {
               display: none;
            }
         }
      }
   }
}

@media screen and (max-width: 547px) {
   .navbar-container {
      .navbar {
         .navbar-item-dark {
            display: inline;
            .icon {
               display: none;
            }
         }
      }
   }
}

@media screen and (max-height: 440px) {
   .navbar-container {
      .navbar {
         grid-gap: 5%;
      }
   }
}