.options {
	width: 70%;
	margin: auto;
	text-align: left;
	padding: 15px 0;
}

.first {
	padding-top: unset;
}

.select {
	outline:none;
}

.label {
	margin-right: 2%;
}

@media (max-width: 930px) {
	.options {
		width: 80%;
	}
}

@media (max-width: 370px) {
	.options {
		width: 95%;
		.label {
			font-size: 0.8em;
		}
	}
}

@media (max-width: 310px) {
	.options {
		.label {
			font-size: 0.73em;
		}
	}
}