.wrapper {
   padding-top: 10px;
   height: auto;
   width: 100%;
   position: absolute;
   bottom: 2%
}

@media screen and (max-height: 440px) {
   .wrapper {
      padding: 5px;
      font-size: 0.7em;
   }
}