@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

.App {
  text-align: center;
  height: 100%;
  font-family: 'Jost', Arial, sans-serif;
}
a {
  text-decoration: none;
}

.loading-message {
  padding: 10%
}

@media (max-height: 566px) {
  .App {
    height: -webkit-fill-available;
  }
}